.button_size
{
	width: 100px;
	height: 100px;
	background-color: #FFCCCC;
}

@import url("http://weloveiconfonts.com/api/?family=entypo");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
/*}
.myButton {
  -moz-box-shadow: 3px 4px 0px 0px #1564ad;
  -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
  box-shadow: 3px 4px 0px 0px #1564ad;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color:#79bbff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #337bc4;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color:#378de5;
}
.myButton:active {
  position:relative;
  top:1px;
}


.canvaButton {
  -moz-box-shadow: 3px 4px 0px 0px #fcfcfc;
  -webkit-box-shadow: 3px 4px 0px 0px #fcfcfc;
  box-shadow: 3px 4px 0px 0px #fcfcfc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7455d), color-stop(1, #1833ab));
  background:-moz-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-webkit-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-o-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-ms-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:linear-gradient(to bottom, #c7455d 5%, #1833ab 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7455d', endColorstr='#1833ab',GradientType=0);
  background-color:#c7455d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #f0f0f0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
.canvaButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1833ab), color-stop(1, #c7455d));
  background:-moz-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-webkit-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-o-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-ms-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:linear-gradient(to bottom, #1833ab 5%, #c7455d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1833ab', endColorstr='#c7455d',GradientType=0);
  background-color:#1833ab;
}
.canvaButton:active {
  position:relative;
  top:1px;
}

.actionButton {
  -moz-box-shadow: 3px 4px 0px 0px #fcfcfc;
  -webkit-box-shadow: 3px 4px 0px 0px #fcfcfc;
  box-shadow: 3px 4px 0px 0px #fcfcfc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7455d), color-stop(1, #1833ab));
  background:-moz-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-webkit-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-o-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-ms-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:linear-gradient(to bottom, #c7455d 5%, #1833ab 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7455d', endColorstr='#1833ab',GradientType=0);
  background-color:#c7455d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #f0f0f0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
.actionButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1833ab), color-stop(1, #c7455d));
  background:-moz-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-webkit-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-o-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-ms-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:linear-gradient(to bottom, #1833ab 5%, #c7455d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1833ab', endColorstr='#c7455d',GradientType=0);
  background-color:#1833ab;
}
.actionButton:active {
  position:relative;
  top:1px;
}

.unicefButton {
  -moz-box-shadow: 3px 4px 0px 0px #fcfcfc;
  -webkit-box-shadow: 3px 4px 0px 0px #fcfcfc;
  box-shadow: 3px 4px 0px 0px #fcfcfc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7455d), color-stop(1, #1833ab));
  background:-moz-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-webkit-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-o-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:-ms-linear-gradient(top, #c7455d 5%, #1833ab 100%);
  background:linear-gradient(to bottom, #c7455d 5%, #1833ab 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7455d', endColorstr='#1833ab',GradientType=0);
  background-color:#c7455d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #f0f0f0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
.unicefButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1833ab), color-stop(1, #c7455d));
  background:-moz-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-webkit-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-o-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:-ms-linear-gradient(top, #1833ab 5%, #c7455d 100%);
  background:linear-gradient(to bottom, #1833ab 5%, #c7455d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1833ab', endColorstr='#c7455d',GradientType=0);
  background-color:#1833ab;
}
.unicefButton:active {
  position:relative;
  top:1px;
}*/

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}


.wrapper {
  padding: 120px 0 0;
  text-align: center;
}