body{

	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #9fb4f2;
	-webkit-box-shadow: 0px 10px 14px -7px #9fb4f2;
	box-shadow: 0px 10px 14px -7px #9fb4f2;
	background-color: white;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#e03131;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:20px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0045f5;
}
.myButton:hover {
	background-color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}
