body { 
	margin:0; 
	padding:10; 
}

#container { 
	position:relative; 
	margin: 0px auto; 
	width: 95%;
}

#map { 
	position:relative; 
	height: 500px; 
	width:100%; 
}

.popupimage { 
	width: 200px; 
}
